* {
    margin: 0;
}

body {
    width: 100%;
    font-family: 'Red Rose', sans-serif;
}

/* TYPOGRAFIE*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #D36E70;
    margin: 0;
}

h1 {
    color: #B9CEAC;
    font-size: 48px;
    font-weight: normal;
    margin-bottom: 20px;
}

h2 { 
    font-size: 36px;
    padding-top: 50px;
}

h3 {
    font-size: 30px;
    padding: 15px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 36px;
    padding-top: 20px;
}

h6 {
    font-size: 36px;
    padding-top: 20px;
    color: #f2a900;
}

.logo-head {
    text-align: center;
}

p {
    line-height: 24px;
    padding: 10px;
}

.textarea {
    border: 1px solid gray;
    height: 150px;
    width: 250px;
}

/* NAVIGATIE/HEADER */
.navbar {
    text-align: center;
    margin-bottom: 25px;
}

.nav-item {
    display: inline-block;
}

.nav-link {
    text-decoration: none;
    color: #D7B399;
    margin-right: 20px;
    font-weight: lighter;
    font-size: 18px;
    font-family: 'Red Rose', sans-serif;   
}

.nav-link:hover {
    color: #D36E70;
}

.current-page {
    color: #D36E70;
    border-bottom: 2px solid #D36E70;
}

.logo {
    margin: 25px 0;
    padding: 0;
}

/* LAYOUT */
.container {
    width: 100%;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: #D7B399;
    color: #D36E70;
    font-family: 'Red Rose', sans-serif;
    font-weight: 400;
    margin-top: 50px;
    padding: 50px 0;
    text-align: center;
}

.title {
    border: #f2a900 1px dotted;
    padding: 10px;
}

/* CONTACT */
.form {
    margin: 40px 5px 5px 5px;
    text-align: center;
}

.form-button {
    background-color: #B9CEAC;
    border: none;
    border-radius: 20px;
    color: darkslategray;
    height: 30px;
    width: 188px;
    margin: 20px 0 10px 5px;
}

.form-checkbox {
    color: gray;
    float: left;
    font-size: 12px;
    line-height: 24px;
    margin-top: 5px;
    padding-right: 150px;
    text-align: left;
}

.form-content {
    border: none;
    outline: none;
    border-bottom: 2px solid grey;
    color: #D36E70;
    font-size: 12px;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 45px;
    width: 75%;
}

.form-radio {
    color: gray;
    float: left;
    font-size: 12px;
    line-height: 24px;
    margin-top: 5px;
    padding-left: 55px;
    padding-right: 10px;
    text-align: left;
    width: 100px;
}

.form-textarea {
    border: 2px solid gray;
    font-family: 'Red Rose', sans-serif;
    font-size: 12px;
    height: 150px;
    margin-top: 10px;
    width: 80%;
}

/* INDEX */
.top-container {
    background-image: url(../images/tas-detail.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
}

.top-container-content {
    color: #D36E70;
    font-weight: lighter;
    font-size: 14px;
    padding: 25px;
    text-align: center;
}

.top-container-contact {
    background-image: url(../images/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
}

.top-container-contact-content {
    color: #D36E70;
    font-size: 14px;
    padding: 10px 10px 0 10px;
    text-align: center;
}

.middle-container {
    margin: 25px 10px;
    text-align: center;
}

.middle-container-content {
    font-weight: lighter;
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 0;
}

.middle-container-stijlen {
    border: #f2a900 1px dotted;
    color: #D36E70;
    font-weight: lighter;
    font-size: 11px;
    margin-top: 10px;
}

.bottom-container {
    margin-top: 25px;
}

.bottom-container-content {
    background-image: url(../images/formaten.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    margin-top: 25px;
    width: 100%;
}

.button-shop {
    background-color: #f2a900;
    border: none;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    height: 30px;
    width: 75px;
    margin-bottom: 10px;
}

.img-product {
    width: 105px;
    height: auto;
    margin-bottom: 25px;
}

/* MAKEN */
.top-container-maken {
    background-image: url(../images/garen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
}

.top-container-maken-content {
    color: #D36E70;
    font-size: 14px;
    font-weight: bolder;
    opacity: 1;
    padding: 10px 10px 0 10px;
    text-align: center;
}

.middle-container-maken {
    color: #f2a900;
    font-size: 14px;
    font-weight: bolder;
    padding: 10px 10px 0 10px;
    text-align: center;
}

.img-maken {
    display: block;
    height: auto;
    margin-bottom: 25px;
    margin-left:60px;
    width: 350px;
}

.img-maken-stap1 {
    display: block;
    height: auto;
    margin-bottom: 25px;
    margin-left: 20px;
    width: 450px;
}

/* MEDIA QUERIES */
@media (min-width: 1000px) {
    header {
        display: grid;
        grid-auto-flow: column;
    }
    
    h4 {
        font-size: 36px;
    }

    .navbar {
        margin: 50px 0;
        padding: 0;
    }

    .container {
        width: 75%;
        margin: 0 200px;
    }

    .title {
        border: #f2a900 2px dotted;
    }

    .top-container-contact {
        height: 400px;
        width: 65%;
        margin: 0 200px;
    }

    .top-container-contact-content {
        padding: 40px 10px 0 10px;
    }

    .form-checkbox {
        width: 500px;
        padding-right: 100px;
    }

    .form-content {
        width: 65%;
    }

    .form-radio {
        padding-left: 200px;
        width: 100px;
    }

    .form-textarea {
        margin-top: 10px 200px;
        width: 65%;
    }

    .top-container {
        background-image: url(../images/tas.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
    }

    .top-container-content {
        width: 50%;
        margin: 0 250px;       
    }

    .middle-container {
        margin: 25px 0;
    }

    .middle-container-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2fr;
        grid-column-gap: 10px;
        grid-row-gap: 0;
    }

    .middle-container-stijlen {
        border: #f2a900 2px dotted;
        font-size: 14px;
    }

    .bottom-container-content {
        height: 800px;
        width: 100%;
    }

    .img-product {
        width: 500px;
        margin: 25px 0;
    }

    .button-shop {
        height: 40px;
        width: 175px;
        margin-bottom: 25px;
    }

    .size-1 {
        padding: 125px 10px 0 470px;
    }

    .size-2 {
        padding: 125px 10px 0 200px;
    }

    .size-3 {
        text-align:right;
        padding: 200px 360px 0 0;
    }

    .size-4 {
        text-align: left;
        padding: 10px 0 0 350px;
    }
    
    .top-container-maken {
        height: 350px;
        width: 50%;
        margin:0 250px;
    }
}


